#c1 {
	width: 900px;
	height: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	position: absolute;
}

#c2 {
	width: 900px;
	height: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	position: absolute;
}

#c3 {
	width: 900px;
	height: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	position: absolute;
}

#c4 {
	width: 900px;
	height: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	position: absolute;
}

#c5 {
	width: 900px;
	height: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	position: absolute;
}

#underGraph {
	position: relative;
	padding-top: 906px;
	z-index: 100;
	width: 900px;
}

#underTree {
	position: relative;
	padding-top: 906px;
	z-index: 100;
	width: 900px;
}

#ways {
	width: 600px;
	word-wrap: break-word;
}

#components {
	width: 600px;
	word-wrap: break-word;
}

#spanComponents {
	white-space: nowrap;
}

#spanWays {
	white-space: nowrap;
}

#text {
	position: relative;
	height: 900px;
	width: 600px;
	margin: 0px;
}

#graph {
	position: absolute;
	height: 950px;
	width: 900px;
	margin: 0px;
}

#tree {
	position: relative;
	width: 900px;
	margin: 0px;
	margin-left: 920px;
}
